# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby / Bundler
vendor/
.bundle/

# Node
node_modules/
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
